body { 
    font-family: sans-serif;  
    background: white; 
    margin: 0;
} 

.navbar { 
    background: white; 
    color: hsl(37, 100%, 86%);  
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 2px solid #ddd;
} 
    
.btn { 
    padding: 8px 12px; 
    background: white; 
    color: orange; 
    text-decoration: none; 
    border-radius: 10px; 
}

form {
    background: orange;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    border-radius: 20px; 
}

label {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
}

.create-event {
  text-align: center;
  color:#333;
  margin-top: 0px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 10px;
    border:none;
}

.create-btn {
    width: 50%;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin:auto
}

/* Index page */

.container {
  text-align: center;
  padding:8px 20px;          
}

.container h1 {
  font-size: 70px;
  font-family: Tahoma, sans-serif;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;          
}

.container p {
  font-size: 30px;
  color: orange;  
  margin-top: 5px;        
}


.footer {
  background: white;          
  color: #333;              
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid #ddd;
  margin-top: 100px;
}

.footer a {
  color: orange;             
  text-decoration: none;
  font-weight: 500;
}

.people {
    display: block;
    margin: 0 auto;
}

#events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px; 
    padding: 30px;
}

/* Individual event card */
.event-card {
    background-color: rgb(255, 196, 87);
    border-radius: 20px;
    padding: 15px;
    width: calc(33.333% - 20px); /* three cards per row */
    box-sizing: border-box;
}


/* login and signup*/
.auth-page {
  background-image: url("Images/white1.jpg"); 
  background-size: cover;      
  background-position: center; 
  min-height: 100vh;           
}
.logo-container {
  text-align: center;  
  margin-bottom: 30px;
}