body { 
    font-family: sans-serif;  
    background: white; 
} 

.navbar { 
    background: orange; 
    color: white; 
    padding: 15px 25px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
    
.btn { 
    padding: 8px 12px; 
    background: white; 
    color: orange; 
    text-decoration: none; 
    border-radius: 10px; 
}